<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Manga Inn Reader</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <style type="text/css">
        h1 {
            text-align: center;
        }

        .manga-list,
        .page-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .manga-list li {
            text-align: center;
            padding: 4px 0;
        }

        .manga-list li .pure-button {
            width: 100%;
            max-width: 300px;
        }

        .page-list li {
            margin: 0;
            padding: 0;
        }

        .page-list li img {
            margin: 0 auto;
        }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

    {{{body}}}

</body>
</html>