<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Manga Inn Reader</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <style type="text/css">
        html {
            overflow-x: hidden;
        }

        h1 {
            text-align: center;
        }

        .manga-list,
        .page-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .manga-list li {
            text-align: center;
            padding: 4px 0;
        }

        .manga-list li .pure-button {
            width: 100%;
            max-width: 300px;
        }

        .page-list li {
            margin: 0;
            padding: 0;
        }

        .page-list li img {
            margin: 0 auto;
        }

        .previous-button, .next-button {
            font-size: 50%;
        }

        .previous-button {
            float: left;
        }

        .next-button {
            float: right;
        }

        .arrow-left, .arrow-right {
            position: absolute;
            top: calc(50% - 0.5em);
            height: 1em;
            width: 1em;
            background-color: rgba(0, 0, 0, 0.75);
            color: #fff;
            font-size: 5em;
            line-height: 0.65em;
        }

        .arrow-left {
            left: -1em;
        }

        .arrow-right {
            right: -1em;
        }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js"></script>
</head>
<body>

    {{{body}}}

</body>
</html>